/* charts */
.g-chart {
    margin: 0 auto;
    margin-bottom: 25px;
    font: 500 14px/1.4 'nyt-franklin', arial, sans-serif;
}

.g-chart .g-chart-header {
    font-weight: bold;
}

.g-chart .g-chart-row,
.g-chart .g-chart-header {
    clear: both;
    height: 22px;
    margin-bottom: 9px;
}

.g-chart .g-chart-bar-container,
.g-chart .g-chart-label {
    float: left;
    height: 100%;
}

.g-chart .g-chart-bar-container {
    margin-left: 20px;
}

.g-chart .g-chart-bar-pos,
.g-chart .g-chart-bar-neg {
    height: 100%;
    float: left;
}

.g-chart .g-chart-label,
.g-chart .g-chart-bar {
    padding-top: 3px;
}

.g-chart .g-chart-label.not-first {
    margin-left: 20px;
}

.g-chart .g-chart-bar {
    height: 100%;
    background: lightsteelblue;
    position: relative;
}

.g-chart .g-chart-bar-label {
    padding-left: 6px;
}

.g-chart .g-chart-bar-neg .g-chart-bar {
    float: right;
}

.g-chart .g-chart-bar-neg .g-chart-bar-label {
    text-align: right;
    padding-right: 6px;
    padding-left: 0px;
}

.g-chart .out-label {
    padding-top: 3px;
    display: none;
}

.g-chart .outside .out-label {
    display: block;
}

.g-chart .outside .in-label {
    display: none;
}

.g-chart .g-bold {
    font-weight: bold;
}

.g-graphic.g-graphic-freebird .g-ad-wrapper {
    margin: 30px auto;
    max-width: 1050px;
}


.g-graphic.g-graphic-freebird .g-ad-wrapper .ad {
    border-top: 1px solid #e2e2e2 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
    max-width: 100%;
}

.g-graphic.g-graphic-freebird .g-ad-wrapper .ad div {
    margin: 0 auto;
    display: block !important;
}

.g-graphic.g-graphic-freebird .g-ad-wrapper iframe {
    margin: 0 auto;
    display: block;
}

.g-graphic.g-graphic-freebird .g-ad-wrapper .g-ad-text {
    text-align: center;
    font: 500 12px/1.2 "nyt-franklin", arial, sans-serif;
    color: #bfbfbf;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.g-hidden {
    opacity: 0;
}

.g-hidden.est-0 {
    opacity: 1;
}

.g-chart svg {
    overflow: hidden !important;
}

.mask-helper {
    stroke: orange;
    fill: none;
}

rect.g-mask {
    stroke: #ff00ff;
    fill: none;
    stroke-weight: 2;
}

.g-year-marker {
    stroke: #333;
    stroke-width: 1;
}

.g-marker-container path {
    stroke: #333;
    fill-opacity: 0.70;
    stroke-width: 0.3;
}

.g-marker-container path.g-hovering {
    stroke-width: 1;
    stroke: #000;
    cursor: pointer;
    fill-opacity: 0.9;
}

.drought-ind {
    fill: #ffffd9;
}

.wildfire-ind {
    fill: #ffffd9;
}

.flooding-ind {
    fill: #41b6c4;
}

.severe-storm-ind {
    fill: #c7e9b4;
}

.tropical-cyclone-ind {
    fill: #081d58;
}

.winter-storm-ind {
    fill: #cccccc;
}

.freeze-ind {
    fill: #cccccc;
}

.g-event-label {
    display: none;
}


.yaxis.axis line {
    display: none;
}

.g-chart-cont {
    position: relative;
    min-height: 600px;
}

.g-annos {
    position: absolute;
    left: 650px;
    top: 0;
    width: 120px;
    font: 300 15px / 18px 'nyt-franklin', Arial, sans-serif;
}

circle.g-harvey-est {
    stroke: #081d58;
    stroke-weight: 3 !important;
    fill-opacity: 0;
}

.g-harvey-label {
    font: 700 19px / 1.2 'nyt-franklin', Arial, sans-serif;
    text-anchor: middle;
}

.g-harvey-sublabel {
    font: 300 13px / 1.2 'nyt-franklin', Arial, sans-serif;
    text-anchor: middle;
}

.g-chart-key {
    top: 4px;
    font: 300 11px / 1.2 'nyt-franklin', Arial, sans-serif;
    margin-bottom: 20px;
}

.g-chart-subhed {
    font: 700 13px / 1.2 'nyt-franklin', Arial, sans-serif;
    margin-bottom: 2px;
}

.g-chart-context {
    margin-bottom: 10px;
}

.g-key-item {
    font: 300 10px / 1.2 'nyt-franklin', Arial, sans-serif;
}

.g-key-dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #ccc;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.g-key-group {
    width: 280px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.drought-ind {
    background-color: #ffffd9;
}

.wildfire-ind {
    background-color: #ffffd9;
}

.flooding-ind {
    background-color: #41b6c4;
}

.severe-storm-ind {
    background-color: #c7e9b4;
}

.tropical-cyclone-ind {
    background-color: #081d58;
}

.winter-storm-ind {
    background-color: #cccccc;
}

.freeze-ind {
    background-color: #cccccc;
}

.g-graphic svg {
    margin: 0px auto;
    display: block;
    font: 300 14px / 1.2 'nyt-franklin';
    overflow: visible;
}

.g-graphic svg .axis {
    shape-rendering: crispEdges;
}